<div id='address_description'>
  <strong>Street:</strong>
  <p><%= address&.street %></p>
  <strong>City:</strong>
  <p><%= address&.city %></p>
  <strong>State:</strong>
  <p><%= address&.state %></p>
  <strong>Zipcode:</strong>
  <p><%= address&.zipcode %></p>
</div>
