<div id='address_description'>
  <table>
    <tr>
      <th>
        Street
      </th>
      <th>
        City
      </th>
      <th>
        State
      </th>
      <th>
        Zipcode
      </th>
    </tr>
    <tr>
      <td><%= address&.street %></td>
      <td><%= address&.city %></td>
      <td><%= address&.state %></td>
      <td><%= address&.zipcode %></td>
    </tr>
  </table>
</div>
