<h1>New Application</h1>

<%= render partial: 'applications/form', locals: {application: @application, applicant: Applicant.new} %>

<%= link_to 'Back', applications_path, class:'btn btn-secondary' %>
