<p>
  <strong>Applicant's Name:</strong>
  <%= applicant.name %>
</p>

<%= render partial: address_info, locals: { address: applicant.address } %>

<strong>Why I would make a good home:</strong>
<p><%= application.description%></p>
