<div id='address_description'>
  <table class='table'>
    <thead>
      <tr>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= address&.street %></td>
        <td><%= address&.city %></td>
        <td><%= address&.state %></td>
        <td><%= address&.zipcode %></td>
      </tr>
    </tbody>
  </table>
</div>
